@use 'colors' as *;
@use 'fonts' as *;

.select-native {
  height: 32px;
  padding: 0 8px;

  border-radius: 6px;
  border: 1px solid $s4;
  background: $s1;
  color: $t6;

  font-size: 12px;
  font-family: $font-mono-ui;
  cursor: pointer;

  &:hover {
    border-color: $s5;
  }

  &:focus {
    outline: none;
    border-color: $p2;
    box-shadow: 0 0 0 2px rgba($p2, 0.15);
  }

  &:disabled {
    color: $s7;
    border-color: $s3;
    cursor: not-allowed;
    background: $s2;
  }

  option {
    background: $s1;
    color: $t6;
  }
}
