$font-mono-ui: 'SF Mono', 'Cascadia Code', 'Fira Code', monospace;
$font-mono-code: 'JetBrains Mono', monospace;
$font-memory-monospace: 'JetBrains Mono', 'Fira Code', 'Courier New', monospace;
$font-console-monospace: 'Source Code Pro', ui-monospace, 'Fira Code', 'JetBrains Mono', monospace;