<label class="checkbox-wrap">
  <input
    type="checkbox"
    [checked]="checked"
    [disabled]="disabled"
    (change)="onToggle($event)"
  />

  <span class="checkbox-box" aria-hidden="true">
    <svg viewBox="0 0 24 24">
      <path
        d="M20.285 6.709a1 1 0 0 1 0 1.414l-9.192 9.192a1 1 0 0 1-1.414 0L3.715 12.35a1 1 0 1 1 1.414-1.414l4.05 4.05 8.485-8.485a1 1 0 0 1 1.621.208z"
      />
    </svg>
  </span>

  @if (label) {
    <span class="checkbox-text">{{ label }}</span>
  }
</label>