@use 'colors' as *;

:host {
  display: flex;    
  flex: 1 1 auto;     
  min-height: 0;     
}

.editor {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

ngx-monaco-editor {
  flex: 1 1 auto;
  min-height: 0;
}
