@use 'colors' as *;
@use 'fonts' as *;

:host {
  display: block;
  height: 100%;
  min-height: 0;
}

.card {
  background-color: $s1;
  color: $t6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.head thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $s1;
}

th,
td {
  text-align: center;
  padding: 6px 8px;
}
th:nth-child(1),
td:nth-child(1) {
  width: 40%;
}
th:nth-child(2),
td:nth-child(2) {
  width: 20%;
}
th:nth-child(3),
td:nth-child(3) {
  width: 40%;
}

td,
.body {
  font-family: $font-memory-monospace;
  font-size: 16px;
  line-height: 20px;
}

.tbody-container {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: $s3 transparent;
}

.tbody-container::-webkit-scrollbar {
  width: 8px;
}
.tbody-container::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, $s3, $s3);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 8px;
}

thead {
  height: 42px;
}

th {
  font-weight: 600;
  font-size: 15px;
}

tr {
  height: 32px;
}

.selected-row {
  background-color: $s4;
}
.spacer-row {
  height: 10px;
  background: transparent !important;
}
