<div class="card">
  <table class="table head">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Value</th>
      </tr>
    </thead>
  </table>

  <div class="tbody-container">
    <table class="table body">
      <tbody>
        @for (key of regKeys; track key; let index = $index) {
          <tr
            [id]="'row-reg-' + index"
            [class.selected-row]="lastChangedIndex === index"
            [attr.aria-selected]="lastChangedIndex === index ? 'true' : 'false'"
          >
            <td>{{ getRegName(key) }}</td>
            <td>{{ key.slice(1) }}</td>
            <td>{{ formatRegisterValue(getRegisterValue(key)) }}</td>
          </tr>
        }
        <tr>
          <td>pc</td>
          <td>&nbsp;</td>
          <td>{{ formatRegisterValue(getProgramCounter()) }}</td>
        </tr>

        <tr class="spacer-row">
          <td colspan="3"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
